:host {
  display: block;
}

.accordion-button:not(.collapsed) {
  background-color: var(--app-btn-bg);
  color: var(--app-btn-text);
}

.accordion-button:focus {
  box-shadow: 0 0 0 0.2rem rgba(var(--bs-primary-rgb), 0.25);
}

.accordion-body {
  background-color: var(--bs-body-bg);
}
