<div class="accordion" id="categoriesAccordion">
  @for (category of store.categories(); track category.id; let i = $index) {
    <div class="accordion-item mb-3 border rounded shadow-sm overflow-hidden">
      <h2 class="accordion-header">
        <button
          class="accordion-button"
          [class.collapsed]="i !== 0"
          type="button"
          data-bs-toggle="collapse"
          [attr.data-bs-target]="'#category-' + category.id"
        >
          <div class="d-flex justify-content-between align-items-center w-100 me-3">
            <span class="fw-bold">
              {{ category.name }}
            </span>
            <span class="badge bg-primary rounded-pill">
              {{ category.products.length }} productos
            </span>
          </div>
        </button>
      </h2>
      <div
        class="accordion-collapse collapse"
        [class.show]="i === 0"
        [id]="'category-' + category.id"
      >
        <div class="accordion-body bg-light-subtle">
          <div class="row g-4">
            @for (product of category.products; track product.id) {
              <div class="col-12 col-md-6 col-lg-4">
                <app-product-card [product]="product"></app-product-card>
              </div>
            }
          </div>
        </div>
      </div>
    </div>
  }
</div>
