<div class="modal fade" id="adminModal" tabindex="-1">
  <div class="modal-dialog modal-xl modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title fw-bold">Panel Administrador</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <app-admin-login></app-admin-login>
        <app-admin-panel></app-admin-panel>
      </div>
    </div>
  </div>
</div>
